.dashboard-widget-container {
  .fa {
     cursor: pointer;
  }

  .table-responsive {
    overflow: visible;
  }

  .summary-sm {
    .popover {
      //min-width: 600px !important;
    }
  }

  .summary-md, .summary-lg {
    .popover {
      //min-width: 600px !important;
    }
  }

  .modal-dialog {
    min-width: 90vw;
  }

  .modal {
  }

  .modal-header, .modal-footer {
    background: #f5f5f5;
  }
}